{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}

    <ul>
        <li>quote: {{ quote }}</li>
        <li>name: {{ name }}</li>
        <li>job: {% if job %}{{ job }}{% endif %}</li>
        <li>avatar: {% if avatar and avatar.url is defined %}{{ avatar.url }}{% endif %}</li>
    </ul>
{% endblock content %}
